Missing multiple RFC support (MAIL FROM + RCPT TO)

I'm using this diff in my local smtp server which works as a proxy for the postfix. The aiosmtpd does not understand some parameters for MAIL FROM and RCPT TO:

```
diff --git a/aiosmtpd/smtp.py b/aiosmtpd/smtp.py
index a977f75..d29613e 100644
--- a/aiosmtpd/smtp.py
+++ b/aiosmtpd/smtp.py
@@ -1281,6 +1281,9 @@ class SMTP(asyncio.StreamReaderProtocol):
                     '552 Error: message size exceeds fixed maximum message '
                     'size')
                 return
+        envid = params.pop('ENVID', None)  # RFC 3885
+        auth = params.pop('AUTH', None) # RFC 4954
+        ret = params.pop('RET', None)  # RFC 3461
         if len(params) > 0:
             await self.push(
                 '555 MAIL FROM parameters not recognized or not implemented')
@@ -1322,6 +1325,7 @@ class SMTP(asyncio.StreamReaderProtocol):
         if params is None:
             return await self.push(syntaxerr)
         # XXX currently there are no options we recognize.
+        orcpt = params.pop("ORCPT", None) # RFC 1891
         if len(params) > 0:
             return await self.push(
                 '555 RCPT TO parameters not recognized or not implemented'
```

It would be nice, if someone can add those extensions. Also, it may be nice to have a list of parameters to be skipped in the SMTP class, so users can add the extra parameters to the class (using own class or assignments) without the need to modify directly the base class.


If I understand correctly https://www.rfc-editor.org/rfc/rfc4954#section-5

> For this reason, servers that advertise support for this
> extension MUST support the AUTH parameter to the MAIL FROM
> command even when the client has not authenticated itself to the
> server.

Since `aiosmtpd` advertises `AUTH LOGIN PLAIN` by default, it should not reject mails using `AUTH` in their `MAIL FROM`.

Still early, but it seems the following fixes the issue related to `AUTH=<>`:

```py
    async def handle_EHLO(self, server, session, envelope, hostname, response):
        """
        EHLO handler intended to remove the '250-AUTH' line from the response since we do not use
        any authentication.
        """

        session.host_name = hostname
        return [r for r in response if not r.startswith("250-AUTH")]
```

But of course it only works if clients properly implement the RFC.