LMTP server doesn't support require_starttls; require_starttls not RFC-compliant

`smtp.py`'s _handle_client contains the following code:

````Python
   270                  if (self.require_starttls
   271                          and not self._tls_protocol
   272                          and command not in ['EHLO', 'STARTTLS', 'QUIT']):
   273                      # RFC3207 part 4
   274                      await self.push('530 Must issue a STARTTLS command first')
   275                      continue
````

When subclassed for the LMTP server, 'EHLO' needs to be 'LHLO'.

I'm not enough of a Python person to code the change... (It needs an 'unrestricted commands' list that the subclass can override.)

This bug prevents enabling require_starttls for LMTP in Mailman -- https://gitlab.com/mailman/mailman/issues/365

In addition, RFC3207 section 4 (3 paragraphs from the end) requires that NOOP  also be accepted before TLS is established.  This change, of course, is trivial...
